@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --ankerLightBlue: #00a8ff;
    --ankerNavy: #1a2c42;
    --ankerBlue: #1B2A30;
    --ankerSeafoam: #C2F9EB;
    --ankerCoral: #ff8573;
    --ankerMidAqua: #4ecdc4;
    --ankerSandy: #fdfbf6;
    --ankerBeige: #cbbd93;
  }
}

*,  *::before, *::after{
  box-sizing: border-box;
}

html, body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Intro Animation Blackout */

.main-content {
  opacity: 0;
  pointer-events: none;
}

body.intro-done .main-content {
  opacity: 1;
  pointer-events: auto;
}


/* END Intro Animation Blackout */

body::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--ankerBlue);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: -300;
  left: -800; 
  width: 2000px; 
  height: 2000px;
  rotate: 10deg;
  background-image: url("/whiteLogo.svg"); 
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: left center;
  z-index: -1;
  opacity: 0.05;
}

.about-clip-path {
  clip-path: polygon(100% 6%, 97% 74%, 8% 89%, 0 0);
}


main {
  flex-grow: 1;
}

@layer utilities {
  .infinite-scroll {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
  }

  @keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}

@layer components {
  .page-header {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-9xl font-bold my-12;
  }
}